{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}
{% block content %}
<body class="index-page">
  <section id="hero">
    <canvas id="hero-particles"></canvas>
      <div id="hero-logo-container">
        <a href="#main-content" id="hero-logo">
          <img src="{% static 'images/jptraining_logo_text.png' %}" alt="JPTraining Logo">
        </a>
      </div>
  </section>

  <main id="main-content">
    <h1><strong>Train like the pros. perform like the best. <br>
    Join JPT and elevate your game! </strong>
    </h1>
    <h2>
      <a href="{% url 'about_jpt' %}" class="start-button">Start Here</a>    
    </h2>
    <br>
    <h3> testimonials </h3>
    <div id = "testimonialSlider" class="testimonials-container">
      <div class="testimonial">
        <p class="testimonial-text">"JPTraining transformed my performance! The tailored training programs and expert coaching helped me reach new heights in my athletic journey."</p>
        <p class="testimonial-author">- Alex R.</p>
      </div>
      <div class="testimonial">
        <p class="testimonial-text">"Thanks to JPTraining, I achieved my personal best in the marathon. The support and guidance from their team made all the difference!"</p>
        <p class="testimonial-author">- Sarah L.</p>
      </div>
      <div class="testimonial">
        <p class="testimonial-text">"The community at JPTraining is incredible. I've met so many like-minded athletes who motivate me to push harder every day."</p>
        <p class="testimonial-author">- Michael T.</p>
      </div>
    </div>
  </main>
</body>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/index.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const slides = document.querySelectorAll('#testimonialSlider .testimonial');
    let index = 0;

    function nextSlide() {

      let current = slides[index];

      current.classList.remove('active');
      current.classList.add('exit-left');

      index = (index + 1) % slides.length;
      let next = slides[index];

      setTimeout(() => {
        current.classList.remove('exit-left');
      }, 800);

      next.classList.add('active');
    }

    slides[0].classList.add('active');

    setInterval(nextSlide, 6000);
});
</script>

{% endblock %}